[menu __main __sdcard __start]
type: command
name: Start printing
gcode: M24

[menu __main __sdcard __cancel]
type: command
enable: {printer.idle_timeout.state == "Printing"}
name: Cancel print
gcode: CANCEL_PRINT

[menu __main __extras]
type: list
name: Extras

[menu __main __octoprint]
type: disabled

[menu __main __tune]
type: list
#enable: {printer.idle_timeout.state == "Printing"}
name: Tune

### menu move 10mm ###
[menu __main __control __move_10mm]
type: list
index: 2
enable: {not printer.idle_timeout.state == "Printing"}
name: Move 10mm

### menu move 1mm ###
[menu __main __control __move_1mm]
type: list
index: 3
enable: {not printer.idle_timeout.state == "Printing"}
name: Move 1mm

### menu move 0.1mm ###
[menu __main __control __move_01mm]
type: list
enable: {not printer.idle_timeout.state == "Printing"}
name: Move 0.1mm
index: 4

[menu __main __temp __cooldown]
type: command
enable: {('extruder' in printer) and ('heater_bed' in printer)}
name: Cooldown all
gcode:
    M104 S0
    M140 S0

[menu __main __temp __cooldown __all]
type: disabled

[menu __main __temp __cooldown __hotend]
type: disabled

[menu __main __temp __cooldown __hotbed]
type: disabled
